{% extends 'base_funcionario.html' %}

{% block titulo %}Entrar com login{% endblock %}
{% block mensagem %} Faça seu login nesta página para acessar os pedidos recebidos de orcamento {% endblock %}

{% block conteudo %}

<section class="page-section" id="login">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            {% if form.errors %}
            <p>Seu usuários e senhas não conferem. Por favor, tente novamente.</p>
            {% endif %}

            {% if proximo %}
            {% if user.is_authenticated %}
            <p>
                Sua conta não possui acesso à esta página. Para prosseguir,
                por favor, entre com outra com este acesso.
            </p>
            {% else %}
            <p>Por favor, faça o login para acessar esta página.</p>
            {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password }}</td>
                    </tr>
                </table>
                <input type="submit" value="login" />
                <input type="hidden" name="proximo" value="{{ proximo }}" />
            </form>

            <p><a href="{% url 'redefinicao_de_senha' %}">Esqueceu sua senha?</a></p>
        </div>
    </div>
</section>

{% endblock %}