{% extends 'base_funcionario.html' %}
{% block conteudo %}

<section class="page-section" id="confirmacao_redefinicao_senha">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            {% if validlink %}
            <p>Favor, insira (e confirme) sua nova senha.</p>
            <form action="" method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td>
                            {{ form.new_password1.errors }}
                            <label for="id_new_password1">Nova senha:</label>
                        </td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.new_password2.errors }}
                            <label for="id_new_password2">Confirme a senha:</label>
                        </td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Alterar minha senha" /></td>
                    </tr>
                </table>
            </form>
            {% else %}
            <h1>Redefinicao de senha falhou</h1>
            <p>
                A link de redefinicao de senha era invalida, possivelmente por ter sido usada anteriormente.
                Por favor, solicite a redefinição de nova senha novamente.
            </p>
            {% endif %}
        </div>
    </div>
</section>
    
{% endblock %}