{% extends 'base_funcionario.html' %}
{% block conteudo %}

<section class="page-section" id="redefinir_senha">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                {{ form.email.errors }}
                {% endif %}
                <p>{{ form.email }}</p>
                <input type="submit" class="btn btn-default btn-lg" value="Resetar senha">
            </form>
        </div>
    </div>
</section>
    
{% endblock %}